<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">
    <!-- Header -->
    {% include header.html %}

    <!-- Body -->
    <body>
        {% include nav.html %}
        <div class="wrap">
            <div class="Content">
                <div class="not_found">
                    <div class="title">404</div>
                    <p class="phrase">😕찾을 수 없는 페이지 입니다. 요청하신 페이지가 사라졌거나, 잘못된 경로를 이용하셨습니다.</p>
                    <a class="solution" href="{{ site.url }}">홈으로 이동</a>
                </div>
            </div>
        </div>    
    </body>

    <!-- Footer -->
    {% include footer.html %}
</html>