<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="{{ site.title }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
  <title>Cho Do Hyoung - Development Note</title>
  <meta property="og:title" content="Cho Do Hyoung - Development Note" />
  <meta property="og:locale" content="ko_KR" />
  <meta name="description" content="Cho Do Hyoung - Development Note" /> 
  <meta property="og:description" content="Cho Do Hyoung - Development Note" />
  <link rel="canonical" href="https://chodohyoung.github.io/" />
  <meta property="og:url" content="https://chodohyoung.github.io/" />
  <meta property="og:site_name" content="Cho Do Hyoung My Blog" />
  
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>