html { 
    width:100%;
    max-width:100%;
    background-color:#2C3238;

    body {
        width:1500px;
        max-width:1500px;

        .nav{
            height:85px;
            text-align: center;
            nav.menu{

            }
        }
    }
    
}