html { 
    width:100%;
    max-width:100%;
    background: linear-gradient( to top, #2C3238, #1e1f20 );

    body {
        width:1500px;
        margin:0 auto;
        .top{
            min-height: 100vh;
            padding-top:50px;
            transition: opacity 1s ease, transform 1s ease;
            text-align: center;
            color:#fff;
            h1{
                font-size: 5rem;
                text-shadow: 3px 3px 2px #151c24;
                letter-spacing: 3px;
                margin-bottom:50px;
                opacity: 0;
                perspective: 300px;
                span{
                    transform: rotateY(-90deg);
                    opacity: 0;
                }
            }            
            h2{
                font-size: 2.5rem;
                text-shadow: 3px 3px 2px #151c24;
                margin-bottom:40px;
                opacity: 0;
                perspective: 200px;
                color:#061a4e;
                span{
                    transform: rotateY(-90deg) rotateX(45deg);
                    transform-origin: -50% 75%;
                    opacity: 0;
                }
            }            
            p{
                font-size: 1rem;
                margin-bottom:40px;
                letter-spacing: 1px;
                line-height: 2rem;
                opacity: 0;
                transition: opacity 1s ease-in-out;
                span{
                    border-bottom: 1px dashed #fff;
                    padding-bottom:3px;
                }
                a{
                    color:#fff;
                    border-bottom: 1px dashed #fff;
                    padding-bottom:3px;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    &:hover{
                        border-bottom: 1px dashed #73acee;
                        color:#73acee;
                    }
                }
            }
            a{
                color:#fff;
                opacity: 0;
                transition: opacity 1s ease-in-out;
                i.top_under_arr{
                    font-size: 4rem;
                    text-shadow: 3px 3px 2px #151c24;
                    &:hover{
                        cursor: pointer;
                        color:#73acee;
                        text-shadow: 3px 3px 2px #101822;
                    }
                }
            }    
        }

        .nav{
            width:1500px;
            margin:0 auto;
            background-color: #000;
            background-color: rgba( 0, 0, 0, 0.4 );
            ul{
                display: inline-block;
                font-size: 0;
                li{
                    display: inline-block;
                    padding:30px 50px;
                    font-size: 1rem;
                    a{
                        color:#fff;
                        font-size:20px;
                        font-weight: 400;
                    }
                    &.active{
                        background-color:#fff;
                        a{
                            color:#2C3238;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .wrap{
            background-color:#fff;
            min-height: 600px;
        }
    }
    
}